<div class="card-content animate__animated animate__fadeInDown">
    <span class="card-title">Add Notes</span>
    <form (ngSubmit)="onSubmit()" class="col s6">
        <div class="row">
            
            <div class="input-field col-md-6">
               <label>description</label>

               <input type="text" placeholder="description" [(ngModel)]="note.description" name="description">
           </div>
           <input type="submit" value="Submit" class="btn">
     
        </div>

    </form>
</div>
<div class="list">
    <ul *ngFor="let o of notes ;let i=index">
        <li>{{o.description}}</li>
    </ul>
</div>