<div class="card-content animate__animated animate__fadeInDown">
    <span class="card-title">Add Notes</span>
    <form (ngSubmit)="onSubmit()" class="col s6">
        <div class="row">
            
            <div class="input-field col-md-3">
               <label>description</label>

               <input type="text" placeholder="description" [(ngModel)]="note.description" name="description">
           </div>
           <input style="background:green;color:white;width:200px"type="submit" value="Submit" class="btn">
     
        </div>

    </form>
</div>
<hr>
<div class="list row" >
    <ul class="col-md-4 notepatch" *ngFor="let o of notes ;let i=index">
        <li style="color:teal; font-weight: bolder;">{{o.description}}  <button (click)="delete(o.id)" class="btn btn-danger danger">Delete</button> </li>
    </ul>
</div>