<app-navbar></app-navbar>
<button (click)="showText()">Text note <sup class="sup"> +</sup></button>
<button (click)="showArticle()">Article note<sup class="sup">+</sup> </button>
<button (click)="showPictureNotes()">Pictures note <sup class="sup">+</sup></button>
<button (click)="showDocumentNotes()">Document note <sup class="sup">+</sup></button>
<button (click)="showMapNotes()">Map note <sup class="sup">+</sup></button>



<div [ngStyle]="{'display': (txt?'':'none')}"  #textShow>
<app-add-text></app-add-text>
</div>

<div [ngStyle]="{'display': (article?'':'none')}"  >
  <app-article></app-article>
  </div>

  <div [ngStyle]="{'display': (picture?'':'none')}"  >
    <app-pictures></app-pictures>
    </div>

    <div [ngStyle]="{'display': (docs?'':'none')}"  >
      <app-document-notes></app-document-notes>
      </div>
      <div [ngStyle]="{'display': (maps?'':'none')}"  >
        <app-map-notes></app-map-notes>
        </div>
