<app-navbar></app-navbar>
<div class="btnstack">
<button class="btn btn-info" [disabled]="txt" (click)="showText()">Text note <sup class="sup"> +</sup></button>
<button class="btn btn-info" [disabled]="article" (click)="showArticle()">Article note<sup class="sup">+</sup> </button>
<button class="btn btn-info" [disabled]="picture" (click)="showPictureNotes()">Pictures note <sup class="sup">+</sup></button>
<button class="btn btn-info"  [disabled]="docs" (click)="showDocumentNotes()">Document note <sup class="sup">+</sup></button>
<button class="btn btn-info" [disabled]="maps" (click)="showMapNotes()">Map note <sup class="sup">+</sup></button>
</div>

<hr>

<div [ngStyle]="{'display': (txt?'':'none')}"  #textShow>
<app-add-text></app-add-text>
</div>

<div [ngStyle]="{'display': (article?'':'none')}"  >
  <app-article></app-article>
  </div>

  <div [ngStyle]="{'display': (picture?'':'none')}"  >
    <app-pictures></app-pictures>
    </div>

    <div [ngStyle]="{'display': (docs?'':'none')}"  >
      <app-document-notes></app-document-notes>
      </div>
      <div [ngStyle]="{'display': (maps?'':'none')}"  >
        <app-map-notes></app-map-notes>
        </div>
