
<app-add-text></app-add-text>
<ul *ngFor="let note of notes_user"  class="collection">
    <div >
    <li   class="collection-item">
        <span style="color:teal; font-weight: bolder;">{{note.title}}</span>
        <span style=" padding:20px; margin:20px">
        <!-- {{note.content}} -->
    </span>
    
     <!-- <i class="fa fa-pencil" (click)="onPencil($event,note)"></i>
     <i style="margin-left:20px;color:red" class="fa fa-trash" (click)="delete($event,note)"></i>  -->

     <!-- <input class="animate__animated animate__fadeInDown"  type="button" value="Delete" class="btn red"> -->
        <!-- {{ note.token}} -->
        
    </li>    
</div>

