<div class="card-content animate__animated animate__fadeInDown">
    <span class="card-title">Add Notes</span>
    <form (ngSubmit)="onSubmit()" class="col s6">
        <div class="row">
            <div class="input-field col-md-3">
                <label>title</label>
 
                <input type="text" placeholder="title" [(ngModel)]="note.title" name="title">
            </div>
            <div class="input-field col-md-6">
               <label>description</label>

               <input type="text" placeholder="description" [(ngModel)]="note.description" name="description">
           </div>
           <input style="background:green;color:white;width:100px" type="submit" value="Submit" class="btn">
     
        </div>

    </form>
</div>
<hr>
<div class="list row">
    <ul class="col-md-4 notepatch "  *ngFor="let o of notes ;let i=index">
        <li class="title">{{o.title}}</li>
        <li class="desc" >{{o.description}} </li>
        <li> <button (click)="delete(o.id1)" class="btn btn-danger">Delete</button> </li>
    </ul>
</div>